.subHeader {
  font-size: 1.25rem;
  font-weight: 700;
}

.headerPrimary {
  font-size: 4.375rem;
  font-weight: 900;
}

.headerSecondary {
  font-size: 4.375rem;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
}