.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.textFirstSection {
  font-size: 4.375rem;
  font-weight: 900;
  text-transform: uppercase;
}

.textSecondSection {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.circleImage {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -50px;
}