.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.moonImage {
  position: absolute;
  left: -400px;
  top: 200px;
  z-index: -1;
  transform: rotate(134deg);
  width: 1200px;
  height: 1200px;
}

.arrowsImage {
  position: absolute;
  right: -75px;
  top: 200px;
  z-index: -1;
  width: 150px;
  height: 150px;
}

.loginSection {
  min-width: 388px;
  width: 30%;
}